<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <div id="app">
    <p v-if="!Array.isArray(users)">{{users}}</p>
    <li v-for="user in users" v-if="Array.isArray(users)">{{ user.Password }}</li>
  </div>
  <form method="post" action="http://localhost:8090/auth">
    <input class="new-todo"  name="username" placeholder="What needs to be done?" autofocus>
    <input class="new-todo"  name="password" placeholder="What needs to be done?" autofocus>
    <input type="submit" value="Submit">
  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: function () {
        return {
          users: 'not updated'
        }
      },
    });
    $.ajax({
      type: "POST",
      url: "http://localhost:8090/admin/users",
      // headers: {
      //   "Token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdXRob3JpemVkIjp0cnVlLCJjbGllbnQiOiJUb20gSGFzdGluZ3MiLCJleHAiOjE1NDYwNjE0NDB9.lE9jzdmbhv5A38YRj6queMbG106fhPrR8j4qnrVWtko",
      // },
      processData: false,
      contentType: 'application/json',
      success: function (data) {
        app.users = data
        console.log(data.constructor);
        console.log(Array.isArray(data));
      }
    });
    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    };
    function checkCookie() {
      var username = getCookie("Token");
      console.log(username)
    };
    checkCookie();
  </script>
</body>

</html>